body{
    background-color: white
    height: 100%;
}

.big{
    font-size:50px;
    font-family: Hiragino Kaku Gothic Std;
}

.red{
    color: red;
}

ul{
    margin-top: 50px;
}

#support{
    width: 100%;
    text-align: center;
}

#back{
    font-size:40px;
    width: 250px;
    height: 100px;
    font-family: monospace;
    background-color: rgb(39, 150, 140);
    border: solid 4px;
    border-color: black;
    border-radius: 10px;
    color:white;
    text-shadow: 1px 1px 0 #000;
    margin-top: 30px;
}

#footer{
    text-align: center;
    width: 100%;
    position: absolute;
    margin-bottom: 0;
    bottom: 0;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}